<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.stary.campusoa.business.dao.BjDao">

	<select id="get" resultType="org.stary.campusoa.business.domain.BjDO">
		select `tid`,`insertBy`,`updateBy`,`insertTime`,`updateTime`,`logicaldeletecode`,`ssxyid`,`sszyid`,`bjmc`,`bjdm`,`xq` from t_bj where tid = #{value}
	</select>

	<select id="list" resultType="org.stary.campusoa.business.domain.BjDO">
		select bj.`tid`,bj.`ssxyid`,bj.`sszyid`,bj.`bjmc`,bj.`bjdm`,bj.`xq`,bj.`fdyId`,bj.`bzrId`,xy.xymc as ssxy,zy.zymc as sszy,fdy.jsname as fdyName,bzr.jsname as bzrName from t_bj bj
		left join t_xy xy on xy.tid=bj.ssxyid
		left join t_zy zy on zy.tid=bj.sszyid
		left join t_teacher fdy on fdy.tid = bj.fdyId
		left join t_teacher bzr on bzr.tid = bj.bzrId
        <where>
		  		  <if test="tid != null and tid != ''"> and tid = #{tid} </if>
		  		  <if test="ssxyid != null and ssxyid != ''"> and ssxyid = #{ssxyid} </if>
		  		  <if test="sszyid != null and sszyid != ''"> and sszyid = #{sszyid} </if>
		  		  <if test="bjmc != null and bjmc != ''"> and bjmc = #{bjmc} </if>
		  		  <if test="xq != null and xq != ''"> and xq = #{xq} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by tid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_bj
		 <where>  
		  		  <if test="tid != null and tid != ''"> and tid = #{tid} </if>
		  		  <if test="insertby != null and insertby != ''"> and insertBy = #{insertby} </if>
		  		  <if test="updateby != null and updateby != ''"> and updateBy = #{updateby} </if>
		  		  <if test="inserttime != null and inserttime != ''"> and insertTime = #{inserttime} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updateTime = #{updatetime} </if>
		  		  <if test="logicaldeletecode != null and logicaldeletecode != ''"> and logicaldeletecode = #{logicaldeletecode} </if>
		  		  <if test="ssxyid != null and ssxyid != ''"> and ssxyid = #{ssxyid} </if>
		  		  <if test="sszyid != null and sszyid != ''"> and sszyid = #{sszyid} </if>
		  		  <if test="bjmc != null and bjmc != ''"> and bjmc = #{bjmc} </if>
		  		  <if test="xq != null and xq != ''"> and xq = #{xq} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="org.stary.campusoa.business.domain.BjDO" useGeneratedKeys="true" keyProperty="tid">
		insert into t_bj
		(
			`insertBy`, 
			`updateBy`, 
			`insertTime`, 
			`updateTime`, 
			`logicaldeletecode`, 
			`ssxyid`, 
			`sszyid`, 
			`bjmc`,
			`bjdm`,
			`xq`
		)
		values
		(
			#{insertby}, 
			#{updateby}, 
			#{inserttime}, 
			#{updatetime}, 
			#{logicaldeletecode}, 
			#{ssxyid}, 
			#{sszyid}, 
			#{bjmc}, 
			#{bjdm},
			#{xq}
		)
	</insert>
	 
	<update id="update" parameterType="org.stary.campusoa.business.domain.BjDO">
		update t_bj 
		<set>
			<if test="insertby != null">`insertBy` = #{insertby}, </if>
			<if test="updateby != null">`updateBy` = #{updateby}, </if>
			<if test="inserttime != null">`insertTime` = #{inserttime}, </if>
			<if test="updatetime != null">`updateTime` = #{updatetime}, </if>
			<if test="logicaldeletecode != null">`logicaldeletecode` = #{logicaldeletecode}, </if>
			<if test="ssxyid != null">`ssxyid` = #{ssxyid}, </if>
			<if test="sszyid != null">`sszyid` = #{sszyid}, </if>
			<if test="bjmc != null">`bjmc` = #{bjmc}, </if>
			<if test="bjdm != null">`bjdm` = #{bjdm}, </if>
			<if test="xq != null">`xq` = #{xq}</if>
		</set>
		where tid = #{tid}
	</update>
	
	<delete id="remove">
		delete from t_bj where tid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_bj where tid in 
		<foreach item="tid" collection="array" open="(" separator="," close=")">
			#{tid}
		</foreach>
	</delete>

</mapper>