<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.stary.campusoa.business.dao.XyDao">

	<select id="get" resultType="org.stary.campusoa.business.domain.XyDO">
		select `tid`,`insertBy`,`updateBy`,`insertTime`,`updateTime`,`logicaldeletecode`,`xymc`,`xydm` from t_xy where tid = #{value}
	</select>

	<select id="list" resultType="org.stary.campusoa.business.domain.XyDO">
		select `tid`,`insertBy`,`updateBy`,`insertTime`,`updateTime`,`logicaldeletecode`,`xymc`,`xydm` from t_xy
        <where>  
		  		  <if test="tid != null and tid != ''"> and tid = #{tid} </if>
		  		  <if test="insertby != null and insertby != ''"> and insertBy = #{insertby} </if>
		  		  <if test="updateby != null and updateby != ''"> and updateBy = #{updateby} </if>
		  		  <if test="inserttime != null and inserttime != ''"> and insertTime = #{inserttime} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updateTime = #{updatetime} </if>
		  		  <if test="logicaldeletecode != null and logicaldeletecode != ''"> and logicaldeletecode = #{logicaldeletecode} </if>
		  		  <if test="xymc != null and xymc != ''"> and xymc = #{xymc} </if>
		  		  <if test="xydm != null and xydm != ''"> and xydm = #{xydm} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by tid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_xy
		 <where>  
		  		  <if test="tid != null and tid != ''"> and tid = #{tid} </if>
		  		  <if test="insertby != null and insertby != ''"> and insertBy = #{insertby} </if>
		  		  <if test="updateby != null and updateby != ''"> and updateBy = #{updateby} </if>
		  		  <if test="inserttime != null and inserttime != ''"> and insertTime = #{inserttime} </if>
		  		  <if test="updatetime != null and updatetime != ''"> and updateTime = #{updatetime} </if>
		  		  <if test="logicaldeletecode != null and logicaldeletecode != ''"> and logicaldeletecode = #{logicaldeletecode} </if>
		  		  <if test="xymc != null and xymc != ''"> and xymc = #{xymc} </if>
		  		  <if test="xydm != null and xydm != ''"> and xydm = #{xydm} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="org.stary.campusoa.business.domain.XyDO" useGeneratedKeys="true" keyProperty="tid">
		insert into t_xy
		(
			`insertTime`,
			`updateTime`,
			`logicaldeletecode`,
			`xymc`, 
			`xydm`
		)
		values
		(
			now(),
			now(),
			0,
			#{xymc},
			#{xydm}
		)
	</insert>
	 
	<update id="update" parameterType="org.stary.campusoa.business.domain.XyDO">
		update t_xy 
		<set>
			<if test="insertby != null">`insertBy` = #{insertby}, </if>
			<if test="updateby != null">`updateBy` = #{updateby}, </if>
			<if test="inserttime != null">`insertTime` = #{inserttime}, </if>
			<if test="updatetime != null">`updateTime` = #{updatetime}, </if>
			<if test="logicaldeletecode != null">`logicaldeletecode` = #{logicaldeletecode}, </if>
			<if test="xymc != null">`xymc` = #{xymc}, </if>
			<if test="xydm != null">`xydm` = #{xydm}</if>
		</set>
		where tid = #{tid}
	</update>
	
	<delete id="remove">
		delete from t_xy where tid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_xy where tid in 
		<foreach item="tid" collection="array" open="(" separator="," close=")">
			#{tid}
		</foreach>
	</delete>

</mapper>